*,
*::before,
*::after {
    box-sizing: border-box;
}

.content {
    background-color: rgb(64, 42, 161);
    width: 500px;
    height: 500px;
    margin-left: 230px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 8px;
}

#user {
    margin-top: 8px;
}

#pwd {
    margin-left: 5px;
}
.form-login {
    padding-left: 100px;
    color: white;
}